<a href="https://colab.research.google.com/github/aranlemaur/Big-Data/blob/main/NOSQL_practice_Mongo_Cosmos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# PLEASE DO NOT CHANGE THIS LINE
import pymongo
connectionString = "mongodb://asteroid:qeqpcXHLl1NDTOsnAjH0X8ZkAWgEVUYiusxnjGKgAsc4fKnujvSOOBTdFNYoXFLUs4BFGweeKN1fFZKukehPSA==@asteroid.mongo.cosmos.azure.com:10255/?ssl=true&retrywrites=false&replicaSet=globaldb&maxIdleTimeMS=120000&appName=@asteroid@"
client = pymongo.MongoClient(connectionString)

In [2]:
mydb = client["monkeybar"] # PLEASE DO NOT CHANGE THIS LINE

In [3]:
mycol = mydb["cats"] # Change collection name 'fish' to anything else that you like!

In [18]:
mydict = { "name": "Alfie", "likes_fighting": True }

x = mycol.insert_one(mydict)

In [5]:
mydict = { "name": "Kitty", "age": 1 }

x = mycol.insert_one(mydict)

In [16]:
r2 = { "name": "Harrison", "complex": mydict , "addresses":["his owners' house","my house","any house"]}

x = mycol.insert_one(r2)

In [19]:
# MongoDB-> Document Database 
for x in mycol.find():
  print(x)

{'_id': ObjectId('6213ae5f0bb5d74ae3f16135'), 'name': 'Alfie', 'likes_fighting': True}
{'_id': ObjectId('6213ae8b0bb5d74ae3f16136'), 'name': 'Kitty', 'age': 1}
{'_id': ObjectId('6213af9e0bb5d74ae3f16137'), 'name': 'Harrison', 'complex': {'name': 'Kitty', 'age': 1, '_id': ObjectId('6213ae8b0bb5d74ae3f16136')}, 'addresses': ["his owners' house", 'my house', 'any house']}
{'_id': ObjectId('6213b22d0bb5d74ae3f16138'), 'name': 'Harrison', 'complex': {'name': 'Kitty', 'age': 1, '_id': ObjectId('6213ae8b0bb5d74ae3f16136')}, 'addresses': ["his owners' house", 'my house', 'any house']}
{'_id': ObjectId('6213b2800bb5d74ae3f16139'), 'name': 'Harrison', 'complex': {'name': 'Kitty', 'age': 1, '_id': ObjectId('6213ae8b0bb5d74ae3f16136')}, 'addresses': ["his owners' house", 'my house', 'any house']}
{'_id': ObjectId('6213b2920bb5d74ae3f1613a'), 'name': 'Alfie', 'likes_fighting': True}

In [20]:
for x in mycol.find({"name":"Kitty", "age":1}).limit(1):
  print(x)

{'_id': ObjectId('6213ae8b0bb5d74ae3f16136'), 'name': 'Kitty', 'age': 1}

In [26]:
myquery = { "name": { "$regex": "ha*" } } # for example, this is a 
# regular expression that ends with letter 'p'

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)